# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Docker
docker-compose.override.yml
*.log

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Migrations (optional if you want to ignore Alembic cache)
alembic/versions/
